/.allure/
/allure-report/
/allure-results/
/build/
/src/property/
/reports/
/target/
/gradle/
/.gradle/
/test-output/
/TripData/
/screenshots/
/Reporting/
/gradlew
/velocity.log
/gradlew.bat
*.class
/.idea/
settings.gradle
/reportTestTrailJson/
/resources/
a2hotelsat.iml
